html {
    scroll-behavior: smooth;
}

.join-us {
    background: white !important;
}

.join-us .nav-link {
    color: #000;
}


/* Nav bar*/

.nav-menu li {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #e2e8f0;
    z-index: 99999;
}

.navbar {
    position: sticky;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0%;
    z-index: 99999;
}

.hamburger {
    display: none;
}

.bar {
    display: flex;
    justify-self: end;
    width: 26px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.join-us .bar {
    display: flex;
    justify-self: end;
    width: 26px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}

.nav-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 99999;
}

.nav-item {
    margin-left: 5rem;
    color: #ffffff;
}

.nav-link {
    font-size: 18px;
    font-family: raleway;
    font-weight: bold;
    color: #ffffff;
}

.nav-link2 {
    font-size: 18px;
    font-family: raleway;
    font-weight: bold;
    color: #ffffff;
}

.nav-link:hover {
    color: #0066ff;
}

.nav-logo {
    margin-left: -1%;
    margin-right: 40%;
}

.story {
    box-shadow: 4px 8px 10px #4e4e4e;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 100 !important;
    margin-left: 4%;
    margin-top: -2%;
    width: 482px;
}

.blog {
    margin-bottom: 15%;
}


/* end of nav bar */

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .video-responsive {
        margin-left: 10%;
        width: 500px !important;
        height: 285px !important;
    }
    .image {
        position: relative;
        margin-left: 15%;
        margin-bottom: 2%;
        width: 300px !important;
    }
    .highlight {
        height: 760px !important;
        width: 100%;
        margin: 2px;
        background: radial-gradient(ellipse, #00b5f5, #000000 500px);
    }
    .nav-logo {
        font-size: 2.1rem;
        margin-left: -12% !important;
    }
    .nav-link {
        font-size: 24px;
        font-family: raleway;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 999999 !important;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .hero1 {
        width: 100vw;
        height: 100vh;
        padding-bottom: 9%;
        margin-top: -10% !important;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contact2 {
        position: relative;
        display: inline-block;
        margin-top: -0%;
        padding: 3px 10px !important;
        font-size: small !important;
        text-decoration: none;
        color: #ffffff;
        background: linear-gradient(145deg, #37c3a1, #0013b0);
        font-family: Raleway;
        font-weight: bold;
        transition: 0.5s;
    }
    .story {
        box-shadow: 4px 8px 10px #888888;
        background-color: rgb(255, 255, 255);
        position: absolute;
        z-index: 100 !important;
        margin-left: 4%;
        margin-top: -2%;
        width: 252px;
    }
    .story h2 {
        font-size: 9px !important;
        margin-bottom: 0;
    }
    .story h1 {
        margin-bottom: 0;
        font-size: 12px !important;
    }
    .story p {
        margin-bottom: 16px;
        font-size: 10px;
    }
    .story a {
        font-size: 10px;
        margin-right: 10%;
        margin-bottom: 0%;
    }
    .head1 {
        margin-right: 0%;
    }
    .head3 {
        margin-left: 10%;
    }
    .head1 img,
    .head3 img {
        width: 286px;
    }
    .head2 {
        width: 660px;
        margin-left: -5%;
    }
    .logo {
        width: 116px;
        height: 96px;
        margin-left: 4%;
    }
    .txt {
        margin-top: -80%;
        margin-left: 38% !important;
    }
    .txt1,
    .txt2 {
        font-size: 28px;
    }
    .about {
        margin-top: -85%;
    }
    .whowe {
        font-size: 28px;
        margin-bottom: 6%;
    }
    .abouttxt {
        font-size: 14px;
    }
    .why {
        margin-top: -15%;
        margin-bottom: 2%;
        font-size: 24px;
    }
    .whytext {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
    }
    .video-play img {
        margin-top: -20%;
    }
    .tabs {
        margin-top: 5% !important;
        position: relative;
        margin: auto;
        border-radius: 16px;
        width: 700px !important;
        height: 860px;
        background: white;
        overflow: hidden;
        padding: 20px 30px;
    }
    .tabs .tab-body>div.active {
        margin: auto;
        width: 600px !important;
        visibility: visible;
        transform: scale(1);
    }
    .containr {
        margin: auto;
        width: 500px !important;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 20px;
    }
    .footer-distributed .footer-center {
        padding-left: 0% !important;
        width: 35%;
    }
    .footer-distributed .footer-right {
        padding-left: 0% !important;
        width: 30% !important;
    }
    .footerimg {
        margin-left: -2% !important;
    }
}

@media only screen and (min-width: 276px) and (max-width: 767px) {
    html,
    body {
        overflow-x: hidden;
    }
    .high {
        font-size: 28px;
        margin-bottom: -16%;
    }
    .video-responsive {
        margin-left: 8%;
        width: 300px !important;
        height: 285px !important;
    }
    .highlight {
        height: 650px !important;
        width: 101%;
        margin-left: -1px !important;
        background: radial-gradient(ellipse, #00b5f5, #000000 500px);
    }
    .story {
        box-shadow: 4px 8px 10px #888888;
        background-color: rgb(255, 255, 255);
        position: absolute;
        margin-left: 4%;
        margin-top: -2%;
        width: 242px;
        height: 120px;
    }
    .blog {
        margin-bottom: 15% !important;
    }
    .story h2 {
        margin-top: -20px;
        font-size: 7px !important;
        margin-bottom: 0;
    }
    .story h1 {
        margin-bottom: 0;
        font-size: 10px !important;
    }
    .story p {
        margin-bottom: 12px;
        font-size: 8px;
    }
    .story a {
        font-size: 8px;
        margin-right: 10%;
        margin-bottom: 0%;
    }
    .contb {
        margin-top: -10% !important;
    }
    .gallery {
        font-size: 28px;
        margin-bottom: -20%;
    }
    .head {
        margin-bottom: -30% !important;
    }
    .headertext {
        margin-bottom: -20% !important;
    }
    .head1 {
        margin-right: 0%;
    }
    .head3 {
        margin-left: 10%;
    }
    .head1 img,
    .head3 img {
        width: 306px;
    }
    .head2 {
        margin-top: 6%;
        width: 600px;
        margin-left: -5%;
    }
    .head {
        padding-top: 0%;
    }
    .vendor-text {
        margin-top: 10%;
        margin-bottom: -5%;
        font-size: 28px !important;
    }
    .apply {
        margin-bottom: -50% !important;
    }
    .joining {
        font-size: 24px !important;
    }
    .about {
        background: black !important;
    }
    .image {
        position: relative;
        margin-left: 15%;
        margin-bottom: -5%;
        width: 256px !important;
    }
    .nav-logo {
        font-size: 1rem;
        margin-left: -3% !important;
        width: 50%;
        height: 5%;
    }
    .nav-link {
        font-size: 24px;
        font-family: raleway;
        font-weight: bold;
        color: #000;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        /* z-index: 9999; */
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .hero1 {
        width: 100vw;
        height: 100vh;
        padding-bottom: 0%;
        margin-bottom: -120%;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contact2 {
        position: relative;
        display: inline-block;
        margin-top: 0%;
        padding: 3px 10px !important;
        font-size: small !important;
        text-decoration: none;
        color: #ffffff;
        background: linear-gradient(145deg, #37c3a1, #0013b0);
        font-family: Raleway;
        font-weight: bold;
        transition: 0.5s;
    }
    .logo {
        width: 116px;
        height: 96px;
        margin-left: 4%;
    }
    .txt {
        margin-top: 42%;
        margin-left: 0% !important;
    }
    .image__title {
        font-size: 16px !important;
    }
    .image__description {
        font-size: small !important;
    }
    .banner {
        width: 100% !important;
        height: 100vh !important;
        position: absolute;
        overflow-x: hidden !important;
    }
    .banner img {
        opacity: 70% !important;
    }
    .txt1,
    .txt2 {
        font-size: 22px;
    }
    .txt2 {
        margin-bottom: 15% !important;
    }
    .about {
        margin-top: -15%;
    }
    .whowe {
        font-size: 24px;
        margin-bottom: 6%;
    }
    .abouttxt {
        font-size: 12px;
    }
    .why {
        margin-top: -30% !important;
        margin-bottom: -10%;
        font-size: 24px;
    }
    .whytext {
        font-size: 12px;
        padding-left: 0;
        margin-bottom: 15% !important;
        padding-right: 0;
    }
    .video-play img {
        margin-top: -20%;
    }
    .eventbutton {
        margin-top: -5%;
        margin-left: 20% !important;
    }
    .download {
        position: relative;
        justify-content: center !important;
        padding: 1px 1px !important;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
        background: linear-gradient(145deg, #37c3a1, #0013b0);
        font-family: Raleway;
        font-weight: bold;
        transition: 0.5s;
    }
    .viewMoreEvents {
        font-size: 16px;
        margin-top: 20%;
        margin-left: -10%;
        position: relative;
        padding: 8px 30px;
        text-decoration: none;
        color: #ffffff;
        background: linear-gradient(145deg, #37c3a1, #0013b0);
        font-family: Raleway;
        font-weight: bold;
        transition: 0.5s;
    }
    .howunderline {
        justify-content: center;
        padding-right: 0;
    }
    .howunderline h2 {
        background-image: linear-gradient( transparent 0%, transparent 65%, yellow 65%, yellow 90%, transparent 90%, transparent);
        display: inline;
        font-weight: 500;
        font-size: 36px !important;
    }
    .howunderline h2:after {
        content: '';
        display: block;
    }
    .p-text {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .process img {
        margin-left: 140%;
    }
    .tabs {
        margin-top: 5% !important;
        position: relative;
        margin: auto;
        border-radius: 16px;
        width: 360px !important;
        height: 860px;
        background: white;
        overflow: hidden;
        padding: 20px 30px;
    }
    .tabs .tab-header>div {
        width: calc(100% / 4);
        font-size: 16px !important;
        margin-right: 4%;
        font-weight: 500 !important;
        cursor: pointer;
    }
    .tabs .tab-body>div.active {
        margin: auto;
        width: 300px !important;
        visibility: visible;
        transform: scale(1);
    }
    .containr {
        margin: auto;
        width: 300px !important;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 20px;
    }
    .tab-body .active h1 {
        font-size: 26px;
    }
    .tab-body .active h2 {
        margin-top: -6%;
        margin-bottom: 2%;
        font-size: 14px;
    }
    input[type='submit'] {
        font-size: 20px !important;
        margin-left: 20% !important;
        cursor: pointer;
    }
    .footer-distributed .footer-center {
        padding-left: 0% !important;
        width: 35%;
    }
    .footer-distributed .footer-right {
        padding-left: 0% !important;
        width: 45% !important;
    }
    .footerimg {
        margin-left: -5% !important;
    }
}

.aboutbox {
    border-radius: 20px;
}

.about {
    padding-top: 18%;
}

.contact:hover {
    color: #000;
    cursor: pointer;
    transform: scale(1.05);
}

body {
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

header {
    transform-style: preserve-3d;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
    z-index: 30000;
}

.nav-up {
    top: -110px;
}

body {
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

.hero1 {
    margin-top: -4%;
    padding-top: 0%;
}

.join-us .contact {
    color: #fff;
}

.contact {
    position: relative;
    display: inline-block;
    padding: 6px 30px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(145deg, #37c3a1, #0013b0);
    font-family: Raleway;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
}

.contact2 {
    position: relative;
    display: inline-block;
    padding: 8px 40px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(145deg, #37c3a1, #0013b0);
    font-family: Raleway;
    font-weight: bold;
    transition: 0.5s;
}

.contact:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.contact2:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.banner {
    width: 100%;
    height: 100%;
    position: absolute;
}

.txt {
    padding-top: 19% !important;
    margin-left: 53%;
    text-align: center !important;
    z-index: 99;
}

.why {
    margin-top: -8%;
}

.viewMoreEvents {
    position: relative;
    justify-content: center !important;
    padding: 8px 40px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(145deg, #37c3a1, #0013b0);
    font-family: Raleway;
    font-weight: bold;
    transition: 0.5s;
}

.download {
    position: relative;
    justify-content: center !important;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(145deg, #37c3a1, #0013b0);
    font-family: Raleway;
    font-weight: bold;
    transition: 0.5s;
}

.eventbutton {
    margin-left: 40%;
}

.box {
    position: relative;
    width: 1080px;
    height: 700px;
    border-radius: 10px;
    justify-content: center;
    margin: auto;
    background: white;
}

.howunderline h2 {
    background-image: linear-gradient( transparent 0%, transparent 65%, yellow 65%, yellow 90%, transparent 90%, transparent);
    display: inline;
    font-weight: 500;
    font-size: 48px;
}

.howunderline h2:after {
    content: '';
    display: block;
}


/* Contact form */

form label {
    font-size: 18px;
    font-weight: bold;
    font-family: raleway;
}

input[type='text'],
select,
textarea {
    width: 100%;
    padding: 12px;
    background-color: #ededed;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type='number'] {
    width: 100%;
    padding: 12px;
    background-color: #ededed;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type='submit'] {
    font-size: 24px;
    margin-left: 35%;
    cursor: pointer;
}

.submit {
    position: relative;
    display: inline-block;
    padding: 8px 40px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    background: linear-gradient(145deg, #37c3a1, #0013b0);
    font-family: poppins;
    transition: 0.5s;
}

.sumbit:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: rgb(255, 255, 255);
}

.containr {
    margin: auto;
    width: 700px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}


/* contact Tabs */

.tabs {
    margin-top: 3% !important;
    position: relative;
    margin: auto;
    border-radius: 16px;
    width: 1080px;
    height: 860px;
    background: white;
    overflow: hidden;
    padding: 20px 30px;
}

.tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.tabs .tab-header>div {
    width: calc(100% / 4);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.tabs .tab-header>div.active {
    color: #0066ff;
}

.tabs .tab-indicator {
    position: relative;
    width: calc(100% / 4);
    height: 6px;
    background-color: #0066ff;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}

.tabs .tab-body {
    position: relative;
}

.tabs .tab-body>div {
    position: absolute;
    visibility: hidden;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.tabs .tab-body>div.active {
    margin: auto;
    width: 1080px;
    visibility: visible;
    transform: scale(1);
}

.about {
    background: radial-gradient( circle at top left, rgba(255, 255, 255, 0.5), transparent 100px), radial-gradient( circle at top right, rgba(255, 255, 255, 0.5), transparent 100px), radial-gradient(at center left, rgba(0, 153, 255, 0.5), transparent 700px), radial-gradient( at center right, rgba(100, 154, 255, 0.5), transparent 300px);
}


/* Footer */

.footer-distributed {
    background: #101010;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    padding-left: 10%;
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: ' | ';
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 10px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-links a:hover {
    color: #00c774;
}


/* Footer Right */

.footer-distributed .footer-right {
    padding-left: -8%;
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-family: raleway;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #167bff;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    transition: 300ms ease-in-out;
}

.footer-icons a:hover {
    transform: scale(1.1);
    background: #37c3a1;
}

.footerimg {
    margin-left: -3%;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px poppins;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@keyframes zom-out {
    100% {
        width: 100%;
    }
}

@keyframes slider {
    0% {
        background-image: url(images/bg1.jpg), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
    35% {
        background-image: url(images/bg2.jpg), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
    75% {
        background-image: url(images/bg3.jpg), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
}

.social-container {
    width: 206px;
    margin: auto;
    margin-left: -4% !important;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 0.1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.18em;
    position: relative;
    font-size: 1.6em;
}

.social-icons li:nth-child(4) {
    display: inline-block;
    margin: 0.2em;
    position: relative;
    font-size: 1.35em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 7px;
    left: 7px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: ' ';
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #00b5f5;
    background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.highlight {
    height: 600px;
    width: 100%;
    margin: 20px;
    background: radial-gradient(ellipse, #00b5f5, #000000 500px);
}


/* Image hover */

.image {
    position: relative;
    width: 500px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'raleway';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover>* {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.highlight {
    height: 600px;
    width: 100%;
    margin: 20px;
    background: radial-gradient(ellipse, #00b5f5, #000000 500px);
}

.blogs {
    margin-bottom: -20%;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 20.25%;
    margin-bottom: 3%;
    position: relative;
    height: 0;
}